.glyphicon {
    margin-right:5px;
}
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca ;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
    max-height: 50px;
    max-width: 50px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}


.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.item {
    width: 100%;
}

.list-group-image {
    max-width: 70px;
    max-height: 70px;
    display: inline !important;
}

.caption::content {
    display: inline !important;
}


a, h4 {
    display: inline;
}

table {
    width: 100%;
}
td{
    height: 50px;
    width: 50px;
    text-align: center;
}

th{
    text-align: center;
    vertical-align: middle;
    padding: 12px 12px 12px 12px;

}

.cart {

    margin-bottom: 20px;

}

.bttn {
    width: 20px !important;
}

h3 {
    padding-top: 20px;
    padding-right: 50px;
    text-align: right;
    font-size: 20px;
}

p {
    padding-right: 55px;
    text-align: right;
    font-size: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

.well .well-sm {

    background: #f9f9f9;
    border: none;
}

.jumbotron {
    background-image: url("img/wallpaper.png");
    font-weight: 900;
    color: #F4A238;
    border: none;

}
